<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>
<link rel ="stylesheet" href ="../css/style.css">

<body>
    
    <div class = "container">
        
        <header>
            <!-- <p>-Aqui va a ir un menu-</p> -->
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="#">Productos<a></li>
                    <li><a href="servicios.html">Servicios<a></li>
                    <li><a href="contactos.html">Contactos<a></li>
                </ul>
            </nav>
        </header>

        <main>

            <img src="../img/img_productos.jpg" alt="">

            <div class="main_principal">    
            
            <h2>Bienvenido a mi pagina de productos</h2>

        <p>Esto es un parrafo dentro de un divisor</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, deleniti debitis? Placeat id explicabo officiis. Natus repellendus voluptate illum excepturi, explicabo cupiditate libero repudiandae cumque ipsa alias molestiae dolor. Ullam?</p>
    
        </div>

    </main>

    <footer>

        <p>Pie de mi página</p>

    </footer>

    </div>
    
</body>
</html>